body, html {
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f7f9fb;
    color: #333;
}

.workspace {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main-header {
    text-align: center;
    padding: 1rem;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.main-header h1 {
    color: #5c6bc0;
    font-weight: normal;
    margin: 0;
    font-size: 2rem;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.code-area {
    display: flex;
    flex: 1;
}

.editor {
    flex: 1;
    margin: 0.5rem;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.editor-header {
    padding: 0.75rem;
    background-color: #5c6bc0;
    color: #fff;
    font-size: 1.1rem;
}

.code-input {
    flex: 1;
    padding: 0.75rem;
    font-family: 'Fira Code', monospace;
    font-size: 0.95rem;
    border: none;
    outline: none;
    resize: none;
    background: #fbfbfb;
    color: #424242;
}

.output-container {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    overflow: hidden;
    margin: 0.5rem;
    flex-basis: 100%;
}

iframe {
    width: 100%;
    height: 300px; /* Fixed height for output */
    border: none;
}

footer {
    padding: 1rem;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    gap: 1rem;
}

footer button, footer input[type="submit"] {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    background-color: #5c6bc0;
    color: white;
    border: none;
    border-radius: 8px;
    transition: background-color 0.3s;
}

footer button:hover, footer input[type="submit"]:hover {
    background-color: #3f51b5;
}

/* Responsive adjustments */
@media (min-width: 768px) {
    .code-area {
        flex-direction: row; /* Horizontal layout on larger screens */
    }

    .editor {
        min-height: 300px; /* Larger minimum height for larger screens */
    }
}
